<section class="min-h-screen flex items-center justify-center px-4 py-4">
  <div class="w-full max-w-md">

    <div class="text-center mb-6">
      <div class="inline-flex items-center justify-center w-20 h-20 bg-gradient-to-br rounded-full mb-4">
        <lucide-icon [img]="KeyRound" class="w-12 h-12 text-base-content/70"></lucide-icon>
      </div>
      <h1 class="text-3xl font-bold text-base-content mb-2">Recuperar Contraseña</h1>
      <p class="text-base-content/70">Ingresa tu email para recibir instrucciones</p>
    </div>

    <div class="card bg-base-100 shadow-2xl">
      <div class="card-body">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="space-y-6">

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Email Registrado</span>
            </label>
            <label
              class="input input-bordered input-accent w-full focus:accent-accent transition-all duration-300 flex items-center gap-2 my-1">
              <lucide-icon [img]="Mail" class="w-4 h-4 text-base-content/70"></lucide-icon>
              <input type="email" placeholder="Ej: juan.perez@example.com" formControlName="email"
                class="grow placeholder-gray-400 placeholder:italic" required />
            </label>

            @if ( formUtils.isValidField(forgotForm, 'email') ) {
            <span class="form-text text-warning">
              {{ formUtils.getTextError(forgotForm, 'email') }}
            </span>
            }
          </div>

          <div class="space-y-3 sm:space-y-0 sm:flex sm:gap-4 pt-6">
            <button type="submit" [disabled]="isSubmitting"
              class="btn btn-primary bg-gradient-to-r border-none text-white w-full sm:flex-1 hover:scale-105 transition-all duration-300 shadow-lg h-12">
              <lucide-icon [img]="Send" class="w-5 h-5" />
              @if (isSubmitting) {
                <span>Enviando...</span>
              } @else {
                <span>Enviar Email</span>
              }
            </button>
          </div>
        </form>

        <div class="divider">O</div>
        <div class="text-center">
          <p class="text-base-content/70">
            ¿Recordaste tu contraseña?
            <a routerLink="/auth/login" class="text-accent hover:text-accent-focus font-semibold transition-colors duration-300">
              Inicia Sesión aquí
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
