<div class="flex flex-col" style="height: calc(100vh - 320px)">

  <div class="w-full grid grid-cols-3 gap-2 mb-4 px-2 flex-shrink-0">

    <button type="button" class="h-11 rounded-2xl text-xs sm:text-sm font-black transition border
             border-orange-200/70 bg-white/70 hover:bg-orange-50" [class.!bg-gradient-to-r]="activeTab() === 'cart'"
      [class.from-orange-500]="activeTab() === 'cart'" [class.to-amber-500]="activeTab() === 'cart'"
      [class.!text-white]="activeTab() === 'cart'" [class.!border-0]="activeTab() === 'cart'" (click)="setTab('cart')">
      Mi Carrito ({{ cartCount() }})
    </button>

    <button type="button" class="h-11 rounded-2xl text-xs sm:text-sm font-black transition border
             border-orange-200/70 bg-white/70 hover:bg-orange-50" [class.!bg-gradient-to-r]="activeTab() === 'mine'"
      [class.from-orange-500]="activeTab() === 'mine'" [class.to-amber-500]="activeTab() === 'mine'"
      [class.!text-white]="activeTab() === 'mine'" [class.!border-0]="activeTab() === 'mine'" (click)="setTab('mine')">
      Mis pedidos ({{ myCount() }})
    </button>

    <button type="button" class="h-11 rounded-2xl text-xs sm:text-sm font-black transition border
             border-orange-200/70 bg-white/70 hover:bg-orange-50" [class.!bg-gradient-to-r]="activeTab() === 'table'"
      [class.from-orange-500]="activeTab() === 'table'" [class.to-amber-500]="activeTab() === 'table'"
      [class.!text-white]="activeTab() === 'table'" [class.!border-0]="activeTab() === 'table'"
      (click)="setTab('table')">
      Mesa ({{ tableCount() }})
    </button>

  </div>
  <section #scrollContainer class="flex-1 overflow-y-auto min-h-0 px-2 ">
    <div class="flex-1 overflow-y-auto min-h-0">
      @switch (activeTab()) {
      @case ('cart') { <app-cart-view /> }
      @case ('mine') { <app-my-orders /> }
      @case ('table') { <app-table-orders /> }
      }
    </div>
  </section>

</div>
