<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <div class="ml-64 p-4">

</div> -->

<!-- <app-admin-header></app-admin-header>
<router-outlet /> -->


<!--

<div class="flex">

    <div
        (mouseenter)="isSidebarCollapsed = false"  (mouseleave)="isSidebarCollapsed = true"   >
        <app-admin-dashboard [isCollapsed]="isSidebarCollapsed"></app-admin-dashboard>
    </div>

    <div
        class="flex-grow p-4 min-h-screen transition-all duration-300 w-full"
        [ngClass]="{
            'ml-64': !isSidebarCollapsed,
            'ml-20': isSidebarCollapsed
        }"
    >
        <router-outlet />
    </div>

</div> -->


<div class="flex">

    <div>
        <app-admin-dashboard
            [isCollapsed]="isSidebarCollapsed"  
            (toggleRequest)="isSidebarCollapsed = !isSidebarCollapsed"  ></app-admin-dashboard>
    </div>

    <div
        class="flex-grow p-4 min-h-screen transition-all duration-300 w-full"
        [ngClass]="{
            'ml-64': !isSidebarCollapsed,
            'ml-20': isSidebarCollapsed
        }"
    >
        <router-outlet />
    </div>

</div>
