<header
  class="bg-base-100 border-b border-base-300 sticky top-0 z-50 shadow-sm"
>
  <div class="navbar max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 h-14 sm:h-16">
    <div class="navbar-start">
      <div class="flex items-center gap-3">
        <div class="avatar">
          <a routerLink="/food-venues">
            <div
              class="w-10 h-10 rounded-lg bg-base-200 flex items-center justify-center"
            >
              @if(venueImageUrl()) {
              <img [src]="venueImageUrl()" [alt]="venueName()" />
              } @else {
              <span class="text-xl font-bold">?</span>
              }
            </div>
          </a>
        </div>

        <div class="flex flex-col min-w-0">
          <span class="font-bold text-base leading-tight truncate"
            >{{ venueName() }}</span
          >

          <span class="text-sm text-base-content/70 leading-tight truncate"
            >Hola, {{ participantNickname() }}</span
          >
        </div>
      </div>
    </div>

    <div class="navbar-end flex items-center gap-1">
      <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <lucide-icon [img]="Bell" class="w-5 h-5"></lucide-icon>
        </div>
      </button>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <lucide-icon [img]="User" class="w-6 h-6"></lucide-icon>
        </div>

        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-56"
        >
          @if (isAuthenticated()) {
          <li>
            <a routerLink="/profile">
              <lucide-icon [img]="UserCog" class="w-4 h-4"></lucide-icon>
              Ver perfil
            </a>
          </li>
          } @if (hasActiveSession()) {
          <li>
            <a (click)="onLeaveSession()">
              <lucide-icon [img]="UtensilsCrossed" class="w-4 h-4"></lucide-icon>
              Abandonar Mesa
            </a>
          </li>
          } @if (isAuthenticated()) {
          <li>
            <a (click)="onLogout()">
              <lucide-icon [img]="Power" class="w-4 h-4"></lucide-icon>
              Cerrar Sesión
            </a>
          </li>
          } @if (!isAuthenticated()) {
          <li>
            <a routerLink="/auth/login">
              <lucide-icon [img]="Power" class="w-4 h-4"></lucide-icon>
              Iniciar Sesión
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</header>
