<section class="min-h-screen flex items-center justify-center px-4 py-4">
  <div class="w-full max-w-md">

    <div class="text-center mb-6">
      <div class="inline-flex items-center justify-center w-20 h-20 bg-gradient-to-br rounded-full mb-4">
        <lucide-icon [img]="KeyRound" class="w-12 h-12 text-base-content/70"></lucide-icon>
      </div>
      <h1 class="text-3xl font-bold text-base-content mb-2">Crear Nueva Contraseña</h1>
      <p class="text-base-content/70">Ingresa tu nueva contraseña segura</p>
    </div>

    <div class="card bg-base-100 shadow-2xl">
      <div class="card-body">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-6">

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Nueva Contraseña</span>
            </label>
            <label
              class="input input-bordered input-accent w-full focus:accent-accent transition-all duration-300 flex items-center gap-2 my-1">
              <lucide-icon [img]="KeyRound" class="w-4 h-4 text-base-content/70"></lucide-icon>
              <input type="password" placeholder="Mínimo 6 caracteres" formControlName="password"
                class="grow placeholder-gray-400 placeholder:italic" required />
            </label>
            @if ( formUtils.isValidField(resetForm, 'password') ) {
            <span class="form-text text-warning">
              {{ formUtils.getTextError(resetForm, 'password') }}
            </span>
            }
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text font-semibold">Confirmar Contraseña</span>
            </label>
            <label
              class="input input-bordered input-accent w-full focus:accent-accent transition-all duration-300 flex items-center gap-2 my-1">
              <lucide-icon [img]="LockKeyhole" class="w-4 h-4 text-base-content/70"></lucide-icon>
              <input type="password" placeholder="Repite la contraseña" formControlName="confirmPassword"
                class="grow placeholder-gray-400 placeholder:italic" required />
            </label>
            @if ( resetForm.get('confirmPassword')?.touched && resetForm.hasError('notSame') ) {
            <span class="form-text text-warning">
              Las contraseñas no coinciden.
            </span>
            }
          </div>

          <div class="pt-6">
            <button type="submit" [disabled]="isSubmitting || resetForm.invalid"
              class="btn btn-primary bg-gradient-to-r border-none text-white w-full hover:scale-105 transition-all duration-300 shadow-lg h-12">
              <lucide-icon [img]="Save" class="w-5 h-5" />
              @if (isSubmitting) {
                <span>Guardando...</span>
              } @else {
                <span>Guardar Contraseña</span>
              }
            </button>
          </div>
          
        </form>

         <div class="divider">O</div>
        <div class="text-center">
          <p class="text-base-content/70">
            ¿Ya tienes acceso?
            <a routerLink="/auth/login" class="text-accent hover:text-accent-focus font-semibold transition-colors duration-300">
              Inicia Sesión aquí
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>